<?xml version="1.0" encoding="UTF-8"?>

<!-- FlightGear menu: Italian language resource -->

<!-- ###
### This file is automatically synchronized with the master (=English language) resource.
### Please do not add comments, change order or restructure the file.
###
### To translate:
###    * Replace "???" entries with appropriate translation.
###    * Keep untranslated items unmodified (leave the "???"). English original is the
###      automatic default.
###    * Remove enclosing "<!-_ ... _->" tags for completed translations.
###    * Keep the original English text unmodified (the '<!-_ English: "..." -_>)',
###      so we know which version of the English original the translation is based upon
###      (and we can identify translations which need to be updated, when the original changes).
###    * Replace "-_" occurences with a double "-" in all translations (XML does not allow
###      consecutive "-" characters in comments).
###
### Last synchronized with English master resource on 2016-March-22 for FlightGear 2016.2
### -->
<PropertyList>

	<!-- File menu -->
	<file>File</file>   <!-- English: "File" -->
	<reset>Reimposta</reset>   <!-- English: "Reset                              " -->
	<load-tape>Carica nastro registratore di volo</load-tape>   <!-- English: "Load Flight Recorder Tape" -->
	<save-tape>Salva nastro registratore di volo</save-tape>   <!-- English: "Save Flight Recorder Tape" -->
	<snap-shot>Cattura schermata</snap-shot>   <!-- English: "Screenshot                      " -->
	<snap-shot-dir>Directory salvataggio schermate</snap-shot-dir>   <!-- English: "Screenshot Directory" -->
	<sound-config>Configurazione audio</sound-config>   <!-- English: "Sound Configuration" -->
	<input-config>Configurazione mouse</input-config>   <!-- English: "Mouse Configuration" -->
	<joystick-config>Configurazione joystick</joystick-config>   <!-- English: "Joystick Configuration" -->
	<terrasync>Download scenario</terrasync>   <!-- English: "Scenery Download" -->
	<aircraft-center>Centro aeromobili (sperimentale)</aircraft-center>   <!-- English: "Aircraft Center (Experimental)" -->
	<exit>Esci</exit>   <!-- English: "Quit" -->

	<!-- View menu -->
	<view>Visualizza</view>   <!-- English: "View" -->
	<toggle-fullscreen>Abilita/disabilita modalità schermo intero</toggle-fullscreen>   <!-- English: "Toggle Fullscreen" -->
	<rendering-options>Opzioni rendering</rendering-options>   <!-- English: "Rendering Options" -->
	<view-options>Opzioni visualizzazione</view-options>   <!-- English: "View Options" -->
	<cockpit-view-options>Opzioni vista cockpit</cockpit-view-options>   <!-- English: "Cockpit View Options" -->
	<adjust-lod>Modifica range livello di dettaglio</adjust-lod>   <!-- English: "Adjust LOD Ranges" -->
	<pilot-offset>Modifica posizione pilota</pilot-offset>   <!-- English: "Adjust View Position" -->
	<adjust-hud>Modifica proprietà HUD</adjust-hud>   <!-- English: "Adjust HUD Properties" -->
	<toggle-glide-slope>Abilita/disabilita tunnel angolo di discesa</toggle-glide-slope>   <!-- English: "Toggle Glide Slope Tunnel" -->
	<replay>Replay istantaneo</replay>   <!-- English: "Instant Replay" -->
	<stereoscopic-options>Opzioni visualizzazione stereoscopica</stereoscopic-options>   <!-- English: "Stereoscopic View Options" -->

	<!-- Location menu -->
	<location>Posizione</location>   <!-- English: "Location" -->
	<position-in-air>Posiziona l'aereo in volo</position-in-air>   <!-- English: "Position Aircraft In Air" -->
	<goto-airport>Seleziona aeroporto</goto-airport>   <!-- English: "Select Airport" -->
	<random-attitude>Attitudine casuale</random-attitude>   <!-- English: "Random Attitude" -->
	<tower-position>Posizione della torre</tower-position>   <!-- English: "Tower Position" -->

	<!-- Autopilot menu -->
	<autopilot>Pilota automatico</autopilot>   <!-- English: "Autopilot" -->
	<autopilot-settings>Impostazioni pilota automatico</autopilot-settings>   <!-- English: "Autopilot Settings" -->
	<route-manager>Gestore rotta</route-manager>   <!-- English: "Route Manager" -->
	<previous-waypoint>Waypoint precedente</previous-waypoint>   <!-- English: "Previous Waypoint" -->
	<next-waypoint>Waypoint successivo</next-waypoint>   <!-- English: "Next Waypoint" -->

	<!-- Environment menu -->
	<environment>Ambiente</environment>   <!-- English: "Environment" -->
	<global-weather>Meteo</global-weather>   <!-- English: "Weather" -->
	<environment-settings>Impostazioni ambiente</environment-settings>   <!-- English: "Environment Settings" -->
	<time-settings>Impostazioni orario</time-settings>   <!-- English: "Time Settings" -->
	<wildfire-settings>Impostazioni incendi</wildfire-settings>   <!-- English: "Wildfire Settings" -->

	<!-- Equipment menu -->
	<equipment>Equipaggiamento</equipment>   <!-- English: "Equipment" -->
	<map>Mappa</map>   <!-- English: "Map" -->
	<map-canvas>Mappa (Canvas)</map-canvas>   <!-- English: "Map (Canvas)" -->
	<map-browser>Mappa (apri nel browser)</map-browser>   <!-- English: "Map (opens in browser)" -->
	<stopwatch>Cronometro</stopwatch>   <!-- English: "Stopwatch" -->
	<fuel-and-payload>Carburante e carico</fuel-and-payload>   <!-- English: "Fuel and Payload" -->
	<radio>Impostazioni radio</radio>   <!-- English: "Radio Settings" -->
	<gps>Impostazioni GPS</gps>   <!-- English: "GPS Settings" -->
	<instrument-settings>Impostazioni strumenti di bordo</instrument-settings>   <!-- English: "Instrument Settings" -->
	<failure-submenu> --- Guasti ---</failure-submenu>   <!-- English: " __- Failures __-" -->
	<random-failures>Guasti casuali</random-failures>   <!-- English: "Random Failures" -->
	<system-failures>Guasti di sistema</system-failures>   <!-- English: "System Failures" -->
	<instrument-failures>Guasti degli strumenti di bordo</instrument-failures>   <!-- English: "Instrument Failures" -->

	<!-- AI menu -->
	<ai>IA</ai>   <!-- English: "AI" -->
	<scenario>Impostazioni traffico e scenario</scenario>   <!-- English: "Traffic and Scenario Settings" -->
	<atc-in-range>Servizi ATC nelle vicinanze</atc-in-range>   <!-- English: "ATC Services in Range" -->
	<wingman>Controlli volo in formazione</wingman>   <!-- English: "Wingman Controls" -->
	<tanker>Controlli rifornimento in volo</tanker>   <!-- English: "Tanker Controls" -->
	<carrier>Controlli portaerei</carrier>   <!-- English: "Carrier Controls" -->
	<jetway>Configurazione finger</jetway>   <!-- English: "Jetway Settings" -->

	<!-- Multiplayer menu -->
	<multiplayer>Multigiocatore</multiplayer>   <!-- English: "Multiplayer" -->
	<mp-settings>Impostazioni multigiocatore</mp-settings>   <!-- English: "Multiplayer Settings" -->
	<fgcom-settings>Impostazioni FGCom</fgcom-settings>   <!-- English: "FGCom Settings" -->
	<mp-chat>Finestra chat</mp-chat>   <!-- English: "Chat Dialog" -->
	<mp-chat-menu>Menù chat</mp-chat-menu>   <!-- English: "Chat Menu" -->
	<mp-list>Elenco piloti</mp-list>   <!-- English: "Pilot List" -->
	<mp-carrier>Seleziona portaerei multigiocatore</mp-carrier>   <!-- English: "MPCarrier Selection" -->
	<lag-adjust>Impostazioni lag</lag-adjust>   <!-- English: "Lag Settings" -->

	<!-- Debug menu -->
	<debug>Debug</debug>   <!-- English: "Debug" -->
	<!-- Note: Debug menu items may not need to be translated
	     since these options are not useful to end users anyway. -->
	<reload-gui>Ricarica interfaccia utente</reload-gui>   <!-- English: "Reload GUI" -->
	<reload-input>Ricarica input</reload-input>   <!-- English: "Reload Input" -->
	<reload-hud>Ricarica HUD</reload-hud>   <!-- English: "Reload HUD" -->
	<reload-panel>Ricarica pannello</reload-panel>   <!-- English: "Reload Panel" -->
	<reload-autopilot>Ricarica pilota automatico</reload-autopilot>   <!-- English: "Reload Autopilot" -->
	<reload-network>Ricarica rete</reload-network>   <!-- English: "Reload Network" -->
	<reload-model>Ricarica modello aereo</reload-model>   <!-- English: "Reload Aircraft Model" -->
	<reload-materials>Ricarica materiali</reload-materials>   <!-- English: "Reload Materials" -->
	<reload-scenery>Ricarica scenario</reload-scenery>   <!-- English: "Reload Scenery" -->
	<nasal-console>Console Nasal</nasal-console>   <!-- English: "Nasal Console" -->
	<nasal-repl-interpreter>Interprete REPL Nasal</nasal-repl-interpreter>   <!-- English: "Nasal REPL Interpreter" -->
	<development-keys>Tasti sviluppo</development-keys>   <!-- English: "Development Keys" -->
	<configure-dev-extension>Configura estensioni sviluppo</configure-dev-extension>   <!-- English: "Configure Development Extensions" -->
	<display-marker>Visualizza indicatore tutorial</display-marker>   <!-- English: "Display Tutorial Marker" -->
	<dump-scene-graph>Dump grafo della scena</dump-scene-graph>   <!-- English: "Dump Scene Graph" -->
	<print-rendering-statistics>Stampa statistiche rendering</print-rendering-statistics>   <!-- English: "Print Rendering Statistics" -->
	<statistics-display>Visualizza ciclicamente le statistiche a schermo</statistics-display>   <!-- English: "Cycle On-Screen Statistics" -->
	<performance-monitor>Controlla performance di sistema</performance-monitor>   <!-- English: "Monitor System Performance" -->
        <write-video-config>Salva configurazione video</write-video-config>   <!-- English: "Save Video Configuration" -->
	<property-browser>Sfoglia proprietà interne</property-browser>   <!-- English: "Browse Internal Properties" -->
	<logging>Logging</logging>   <!-- English: "Logging" -->
	<local_weather>Meteo locale (test)</local_weather>   <!-- English: "Local Weather (Test)" -->
	<print-scene-info>Stampa informazioni scena visibile</print-scene-info>   <!-- English: "Print Visible Scene Info" -->
	<rendering-buffers>Mostra/nascondi buffer rendering</rendering-buffers>   <!-- English: "Hide/Show Rendering Buffers" -->
	<rembrandt-buffers-choice>Seleziona buffer rendering</rembrandt-buffers-choice>   <!-- English: "Select Rendering Buffers" -->
	<interface-config>Opzioni interfaccia utente</interface-config>   <!-- English: "User-interface options" -->

	<!-- Help menu -->
	<help>Aiuto</help>   <!-- English: "Help" -->
	<help-browser>Guida (si apre nel browser)</help-browser>   <!-- English: "Help  (opens in browser)" -->
	<doc-browser>Browser documentazione</doc-browser>   <!-- English: "Documentation Browser" -->
	<aircraft-keys>Guida aereo</aircraft-keys>   <!-- English: "Aircraft Help" -->
	<aircraft-checklists>Checklist aereo</aircraft-checklists>   <!-- English: "Aircraft Checklists" -->
	<common-keys>Tasti in comune a tutti gli aerei</common-keys>   <!-- English: "Common Aircraft Keys" -->
	<basic-keys>Tasti fondamentali del simulatore</basic-keys>   <!-- English: "Basic Simulator Keys" -->
	<joystick-info>Informazioni joystick</joystick-info>   <!-- English: "Joystick Information" -->
	<tutorial-start>Tutorial</tutorial-start>   <!-- English: "Tutorials" -->
	<menu-about>Informazioni su</menu-about>   <!-- English: "About" -->

	<!-- Aircraft menu (only frequent/common custom menu entries are supported) -->
	<select-livery>Seleziona livrea</select-livery>   <!-- English: "Select livery" -->
	<show-hide-yokes>Mostra/nascondi yoke</show-hide-yokes>   <!-- English: "Show/hide yokes" -->
	<immatriculation>Marche</immatriculation>   <!-- English: "Immatriculation" -->
	<pushback>Pushback</pushback>   <!-- English: "Pushback" -->
	<autostart>Avvio automatico</autostart>   <!-- English: "Autostart" -->
	<tiller-steering>Tiller Steering</tiller-steering>   <!-- English: "" -->

</PropertyList>
