<?xml version="1.0" encoding="ISO-8859-1" ?>

<!-- FlightGear menu: Dutch language resource -->

<!-- ###
### This file is automatically synchronized with the master (=English language) resource.
### Please do not add comments, change order or restructure the file.
###
### To translate:
###    * Replace "???" entries with appropriate translation.
###    * Keep untranslated items unmodified (leave the "???"). English original is the
###      automatic default.
###    * Remove enclosing "<!-_ ... _->" tags for completed translations.
###    * Keep the original English text unmodified (the '<!-_ English: "..." -_>)',
###      so we know which version of the English original the translation is based upon
###      (and we can identify translations which need to be updated, when the original changes).
###    * Replace "-_" occurences with a double "-" in all translations (XML does not allow
###      consecutive "-" characters in comments).
###
### Last synchronized with English master resource on 2012-July-13 for FlightGear 2.8.0
### -->
<PropertyList>

	<!-- File menu -->
	<file>Bestand</file>   <!-- English: "File" -->
	<reset>Opnieuw starten</reset>   <!-- English: "Reset" -->
	<load-tape>Vluchtrecorder data laden</load-tape>   <!-- English: "Load Flight Recorder Tape" -->
	<save-tape>Vluchtrecorder data opslaan</save-tape>   <!-- English: "Save Flight Recorder Tape" -->
	<snap-shot>Screenshot</snap-shot>   <!-- English: "Screenshot  " -->
	<snap-shot-dir>Screenshotmap</snap-shot-dir>   <!-- English: "Screenshot Directory" -->
	<sound-config>Audio instellingen</sound-config>   <!-- English: "Sound Configuration" -->
	<exit>Afsluiten</exit>   <!-- English: "Quit          " -->

	<!-- View menu -->
	<view>Beeld</view>   <!-- English: "View" -->
	<display-options>Beeld instellingen</display-options>   <!-- English: "Display Options" -->
	<rendering-options>Weergave instellingen</rendering-options>   <!-- English: "Rendering Options" -->
	<view-options>Zicht instellingen</view-options>   <!-- English: "View Options" -->
	<cockpit-view-options>Cockpit zicht instellingen</cockpit-view-options>   <!-- English: "Cockpit View Options" -->
	<adjust-lod>LOD niveaus aanpasssen</adjust-lod>   <!-- English: "Adjust LOD Ranges" -->
	<pilot-offset>Piloot verplaatsen</pilot-offset>   <!-- English: "Adjust View Position" -->
	<adjust-hud>HUD aanpassen</adjust-hud>   <!-- English: "Adjust HUD Properties" -->
	<toggle-glide-slope>Toon/verberg glijpad</toggle-glide-slope>   <!-- English: "Toggle Glide Slope Tunnel" -->
	<replay>Herhaling</replay>   <!-- English: "Instant Replay" -->
	<stereoscopic-options>Stereoscopische weergaveopties</stereoscopic-options>   <!-- English: "Stereoscopic View Options" -->

	<!-- Location menu -->
	<location>Locatie</location>   <!-- English: "Location" -->
	<position-in-air>Plaats vliegtuig in de lucht</position-in-air>   <!-- English: "Position Aircraft In Air" -->
	<goto-airport>Kies een vliegveld</goto-airport>   <!-- English: "Select Airport" -->
	<random-attitude>Willekeurige orientatie</random-attitude>   <!-- English: "Random Attitude" -->
	<tower-position>Torenpositie</tower-position>   <!-- English: "Tower Position" -->

	<!-- Autopilot menu -->
	<autopilot>Automatische piloot</autopilot>   <!-- English: "Autopilot" -->
	<autopilot-settings>Autopilot instellingen</autopilot-settings>   <!-- English: "Autopilot Settings" -->
	<route-manager>Route manager</route-manager>   <!-- English: "Route Manager" -->
	<previous-waypoint>Vorig routepunt</previous-waypoint>   <!-- English: "Previous Waypoint" -->
	<next-waypoint>Volgend routepunt</next-waypoint>   <!-- English: "Next Waypoint" -->

	<!-- Environment menu -->
	<environment>Omgeving</environment>   <!-- English: "Environment" -->
	<global-weather>Weer</global-weather>   <!-- English: "Weather" -->
	<environment-settings>Omgevingsinstellingen</environment-settings>   <!-- English: "Environment Settings" -->
	<time-settings>Tijdsinstellingen</time-settings>   <!-- English: "Time Settings" -->
	<wildfire-settings>Bosbrand instellingen</wildfire-settings>   <!-- English: "Wildfire Settings" -->
	<terrasync>Scenery downloaden</terrasync>   <!-- English: "Scenery Download" -->

	<!-- Equipment menu -->
	<equipment>Uitrusting</equipment>   <!-- English: "Equipment" -->
	<map>Kaart</map>   <!-- English: "Map" -->
	<stopwatch>Stopwatch</stopwatch>   <!-- English: "Stopwatch" -->
	<fuel-and-payload>Brandstof en vracht</fuel-and-payload>   <!-- English: "Fuel and Payload" -->
	<radio>Radio instellingen</radio>   <!-- English: "Radio Settings" -->
	<gps>GPS instellingen</gps>   <!-- English: "GPS Settings" -->
	<instrument-settings>Instrument instellingen</instrument-settings>   <!-- English: "Instrument Settings" -->
	<failure-submenu> --- Storingen ---</failure-submenu>   <!-- English: " -_- Failures -_-" -->
	<random-failures>Willekeurige storingen</random-failures>   <!-- English: "Random Failures" -->
	<system-failures>Systeemstoringen</system-failures>   <!-- English: "System Failures" -->
	<instrument-failures>Instrumentstoringen</instrument-failures>   <!-- English: "Instrument Failures" -->

	<!-- AI menu -->
	<ai>AI</ai>   <!-- English: "AI" -->
	<scenario>Verkeer- en scenarioinstellingen</scenario>   <!-- English: "Traffic and Scenario Settings" -->
	<atc-in-range>ATC Services in Range</atc-in-range>   <!-- English: "ATC Services in Range" -->
	<wingman>Wingman besturing</wingman>   <!-- English: "Wingman Controls" -->
	<tanker>Tankvliegtuig besturing</tanker>   <!-- English: "Tanker Controls" -->
	<carrier>Vliegdekschip besturing</carrier>   <!-- English: "Carrier Controls" -->
	<jetway>Vliegtuigslurf besturing</jetway>   <!-- English: "Jetway Settings" -->

	<!-- Multiplayer menu -->
	<multiplayer>Multiplayer</multiplayer>   <!-- English: "Multiplayer" -->
	<mp-settings>Multiplayer instellingen</mp-settings>   <!-- English: "Multiplayer Settings" -->
	<mp-chat>Chatvenster</mp-chat>   <!-- English: "Chat Dialog" -->
	<mp-chat-menu>Chatmenu</mp-chat-menu>   <!-- English: "Chat Menu" -->
	<mp-list>Pilotenlijst</mp-list>   <!-- English: "Pilot List" -->
	<mp-carrier>MP vliegdekschip selectie</mp-carrier>   <!-- English: "MPCarrier Selection" -->

	<!-- Debug menu -->
	<debug>Debug</debug>   <!-- English: "Debug" -->
	<!-- Note: Debug menu items may not need to be translated
	     since these options are not useful to end users anyway. -->
	<reload-gui>GUI herladen</reload-gui>   <!-- English: "Reload GUI" -->
	<reload-input>Invoer herladen</reload-input>   <!-- English: "Reload Input" -->
	<reload-hud>HUD herladen</reload-hud>   <!-- English: "Reload HUD" -->
	<reload-panel>Paneel herladen</reload-panel>   <!-- English: "Reload Panel" -->
	<reload-autopilot>Autopilot herladen</reload-autopilot>   <!-- English: "Reload Autopilot" -->
	<reload-network>Network herladen</reload-network>   <!-- English: "Reload Network" -->
	<reload-model>Vliegtuigmodel herladen</reload-model>   <!-- English: "Reload Aircraft Model" -->
	<reload-materials>Materialen herladen</reload-materials>   <!-- English: "Reload Materials" -->
	<reload-scenery>Scenery herladen</reload-scenery>   <!-- English: "Reload Scenery" -->
	<nasal-console>Nasal console</nasal-console>   <!-- English: "Nasal Console" -->
	<development-keys>Ontwikkelingstoetsen</development-keys>   <!-- English: "Development Keys" -->
	<configure-dev-extension>Ontwikkelingsextensies beheren</configure-dev-extension>   <!-- English: "Configure Development Extensions" -->
	<display-marker>Tutorial marker weergeven</display-marker>   <!-- English: "Display Tutorial Marker" -->
	<dump-scene-graph>Scene graph dumpen</dump-scene-graph>   <!-- English: "Dump Scene Graph" -->
	<print-rendering-statistics>Weergavestatistieken printen</print-rendering-statistics>   <!-- English: "Print Rendering Statistics" -->
	<statistics-display>Blader door schermstatiestieken</statistics-display>   <!-- English: "Cycle On-Screen Statistics" -->
	<performance-monitor>Monitor systeemprestaties</performance-monitor>   <!-- English: "Monitor System Performance" -->
        <write-video-config>Bewaar Video configuratie</write-video-config>   <!-- English: "Save Video configuration" -->
	<property-browser>Blader door interne eigenschappen</property-browser>   <!-- English: "Browse Internal Properties" -->
	<logging>Logging</logging>   <!-- English: "Logging" -->
	<local_weather>Local weather (test)</local_weather>   <!-- English: "Local Weather (Test)" -->
	<print-scene-info>Print zichtbare scene informatie</print-scene-info>   <!-- English: "Print Visible Scene Info" -->
	<rendering-buffers>Verberg/toon weergave buffers</rendering-buffers>   <!-- English: "Hide/Show Rendering Buffers" -->
	<rembrandt-buffers-choice>Selecteer weergave buffers</rembrandt-buffers-choice>   <!-- English: "Select Rendering Buffers" -->

	<!-- Help menu -->
	<help>Help</help>   <!-- English: "Help" -->
	<help-browser>Help (opent in browser)</help-browser>   <!-- English: "Help  (opens in browser)" -->
	<doc-browser>Documentatie browser</doc-browser>   <!-- English: "Documentation Browser" -->
	<aircraft-keys>Vliegtuig help</aircraft-keys>   <!-- English: "Aircraft Help" -->
	<aircraft-checklists>Vliegtuig checklists</aircraft-checklists>   <!-- English: "Aircraft Checklists" -->
	<common-keys>Algemene toetsencombinaties</common-keys>   <!-- English: "Common Aircraft Keys" -->
	<basic-keys>Simulator toetsencombinaties</basic-keys>   <!-- English: "Basic Simulator Keys" -->
	<joystick-config>Joystick instellingen</joystick-config>   <!-- English: "Joystick Configuration" -->
	<joystick-info>Joystick informatie</joystick-info>   <!-- English: "Joystick Information" -->
	<tutorial-start>Tutorials</tutorial-start>   <!-- English: "Tutorials" -->
	<menu-about>Over</menu-about>   <!-- English: "About" -->

	<!-- Aircraft menu (only frequent/common custom menu entries are supported) -->
	<select-livery>Kies uitvoering</select-livery>   <!-- English: "Select livery" -->
	<show-hide-yokes>Toon/verberg yokes</show-hide-yokes>   <!-- English: "Show/hide yokes" -->
	<immatriculation>Registratie</immatriculation>   <!-- English: "Immatriculation" -->
	<pushback>Pushback</pushback>   <!-- English: "Pushbac" -->
	<autostart>Automatisch starten</autostart>   <!-- English: "Autostart" -->
	<tiller-steering>Tiller besturing</tiller-steering>   <!-- English: "Tiller Steering" -->
	
</PropertyList>
