[Desktop Entry]
Encoding=UTF-8
Name=FlightGear
Exec=artsdsp /usr/games/fgfs --geometry=1024x768 --enable-game-mode
Terminal=false
Type=Application
Icon=flightgear
